################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/Release/net8.0
/bin/Debug/net8.0/ChatbotBenchmarkAPI.dll
/bin/Debug/net8.0/ChatbotBenchmarkAPI.exe
/bin/Debug/net8.0/ChatbotBenchmarkAPI.pdb
/obj/Debug/net8.0/ref/ChatbotBenchmarkAPI.dll
/obj/Debug/net8.0/ChatbotBenchmarkAPI.AssemblyInfo.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ChatbotBenchmarkAPI.genruntimeconfig.cache
/obj/Debug/net8.0/ChatbotBenchmarkAPI.pdb
/obj/project.assets.json
/obj/Debug/net8.0/ChatbotBenchmarkAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/ChatbotBenchmarkAPI.csproj.nuget.dgspec.json
/obj/Debug/net8.0/ChatbotBenchmarkAPI.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ChatbotBenchmarkAPI.assets.cache
/obj/Debug/net8.0/ChatbotBenchmarkAPI.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/ChatbotBenchmarkAPI.dll
/obj/Debug/net8.0/ChatbotBenchmarkAPI.sourcelink.json
/obj/project.nuget.cache
/obj/Debug/net8.0/refint/ChatbotBenchmarkAPI.dll
/obj/ChatbotBenchmarkAPI.csproj.nuget.dgspec.json
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/ChatbotBenchmarkAPI.AssemblyInfo.cs
/obj/Debug/net8.0/ChatbotBenchmarkAPI.AssemblyInfoInputs.cache
/obj/Debug/net8.0/ChatbotBenchmarkAPI.assets.cache
/obj/Debug/net8.0/ChatbotBenchmarkAPI.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/ChatbotBenchmarkAPI.dll
/obj/Debug/net8.0/ChatbotBenchmarkAPI.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/ChatbotBenchmarkAPI.genruntimeconfig.cache
/obj/Debug/net8.0/ChatbotBenchmarkAPI.pdb
/obj/Debug/net8.0/refint/ChatbotBenchmarkAPI.dll
/obj/project.assets.json
/obj/project.nuget.cache
/obj/Debug/net8.0/ref/ChatbotBenchmarkAPI.dll
/bin/Debug/net8.0
/obj
